.timer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: min-content;
}

.timer__button {
  background-color: gray;
  border: none;
  border-radius: 7px;
  color: whitesmoke;
  padding: 10px;
}

.timer__button:hover {
  background-color: darkgoldenrod;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.timer__button--inactive {
  background-color: rgba(128, 128, 128, 0.082);
  border: none;
  border-radius: 7px;
  color: rgb(214, 213, 213);
  padding: 10px;
  transition: 0.3s ease-in;
}
